.notification-base {
  padding: 20px 0 20px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.notification-base:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.notification {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.notification:last-child {
  border-bottom: none;
}

.notification-info {
  padding: 0 10px 0 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  width: 100%;
}

.notification-options {
  padding: 0 0 0 10px;
}

.notification-options ion-icon {
}

.app-icon {
  padding: 20px 0 0 10px;
}

ion-icon {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.3);
}

ion-icon:hover {
  color: rgba(0, 0, 0, 0.75);
}

body {
  margin-bottom: 50px;
}

.app-icon img {
  width: 40px;
  height: 40px;
}

.notification-icon {
  padding: 5px 20px 0 0;
}

.notification-icon img {
  width: 30px;
  height: 30px;
}
